/*GENERAL CLASS*/
*{
    padding:0px;
    margin: 0px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    clear:both;
}
.relatiove{
    position: relative;
}
.absolute{
    position: absolute;
}    
.container{
    width: 71.99159222%;
    margin: 0px auto;
}
.t-m-2{
    margin-top: 2rem;
}
.top-margin-40{
    margin-top: 40px;
}
.bottom-margin-60{
    margin-bottom: 60px;
}
.top-margin-20{
    margin-top: 20px;
}
.bottom-margin-15{
    margin-bottom: 15px;
}
.bottom-margin-25{
    margin-bottom: 25px;
}
.bottom-margin-50{
    margin-bottom: 50px;
}

.l-title{
    padding: 1rem;
    font-size: 1.1rem;
}
.m-title{
    padding: 0.5rem; 
    font-size: 0.5rem;
}
.card{
/*    padding: 10px;*/
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);   
}
.bold{
    font-weight: bold;
}
.paragraph{
    text-align: justify;
    padding: 1rem 0rem;
}
.light-color{
    color: #aaa;
}
.p1{
    padding: 0.5rem;
}
.p2{
    padding: 1rem;
}
.p3{
    padding: 1.5rem;
}
.plr{
    padding:0rem 1rem;
}
.top-m{
    margin-top: 1rem;
}
.center-align{
    align-items: center;
}
.align-text{
    text-align: center;
}

/*NAVBAR*/
.menu-container{
    width: 100%;
    height:50px;
    background-color: #4D636F;
    line-height: 50px;
}
.home-logo{
    padding:1px 10px;
    font-family: "Open Sans", sans-serif;
    background:#3a4b53;
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    display: inline-block;
    color: white;
    width:120px;
    font-size: 20px;
}
.home-logo:hover{
    color: #000;
    background: #ccc;
}
.menu{
    display: inline-block;
    height: 45px;
}
.menu-item{
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
    background: #4D636F;
}
.item{
    color: white;
    padding:20px 23px;
    font-size: 17px;
}
.item:hover:not(.last-item){
    color: #000;
    background: #fff;
}
#submenu-list:hover{
    color: #000 !important;
    background: #ccc!important;
}
/*>>>>>>>>>>submenu*/
#submenu-list:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    left: 10;
    top: 2;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

}
.submenu-item{
    list-style-type: none;
    padding:0px 10px;
    box-sizing: border-box;
    width:100%;
    background: #fff;
    font-size: 20px;
    text-decoration: none;
}
.sub-item{
    color: #000;
    text-decoration: none;
    cursor: pointer
}
.submenu-item:hover{
    background: #CCCCCC;
}
.user-image-link{
    cursor: pointer;
}
.user-account-icon{
    border-radius: 50%;
    width:22px;
    display: inline-block;
    height: 22px;
    padding:15px 20px!important;
}
.user-image-link:hover{
    background: #fff;
}

.grid{
    display: grid;
    grid-template-columns: 25.18248175% auto 16.8128655%; 
    grid-gap: 1rem;
}

/*left container*/
.left-card{
    display: grid;
    grid-gap: 1.5rem;    
    grid-template-rows: 3fr 1fr 1fr 1fr;
    grid-row: 1 /span 2;
}
/*>>>>>>>>>>>>>>>>>>>>>>>My Profile>>>>>>>>>>>>*/
.my-profile{
    padding:10px;
    font-size: 22px;
}
.person-profile{
    font-family: "Open Sans", sans-serif;
    width: 100%;
    text-align: center;
    background: #fff;
    color: #666;
}
.profile-picture{
    border-radius: 50%;
    width:31.47058823%;
}
.seperator{
    opacity: 30%;
    width:90%;
    margin:0px auto;
}
.user-data-container{
    text-align: left;
    box-sizing: border-box;
    margin-left: 10px;
}
.user-data-container{
    text-align: left;
    box-sizing: border-box;
    margin-left: 10px;
}
.data-list{
    padding: 10px;
    list-style-type: none;
}
.user-data-icon{
    margin-right: 20px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>personal data*/

.personal-data-list{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #7d97a5;
    color: #fff;
    list-style-type: none;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}
.personal-data-list:hover{
    background: #CCCCCC;
    color:#000;
}

/*>>>>>>>>>>>>>>>>>>>>>>>personal interest*/

#personal-interest{
    font-family: "Open Sans", sans-serif;
}
#personal-interest .interest-list{
    padding:0 1rem;
}
#personal-interest .interest-list *{
    padding:0 0.35rem;
    list-style-type: none;
    display: inline-block;
}
#personal-interest .interest-list li:nth-child(1){
    background: #303E45;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(2){
    background: #3A4B53;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(3){
    background: #435761;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(4){
    background: #4D636F;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(5){
    background: #57707D;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(6){
    background: #607D8B;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(7){
    background: #7D97A5;
    color: #fff;
}
#personal-interest .interest-list li:nth-child(8){
    background: #9EB1BB;
    color: #000;
}
#personal-interest .interest-list li:nth-child(9){
    background: #BECBD2;
    color: #000;
}
#personal-interest .interest-list li:nth-child(10){
    background: #DFE5E8;
    color: #000;
}
#personal-interest .interest-list li:nth-child(11){
    background: #fff;
    color: #000;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>visitors*/

#visitors{
    background: #DFE5E8;
    color: #000;
    font-family: "Open Sans", sans-serif;
}
#visitors>*{
    padding: 1rem;
}
#visitors .cross{
    background: #becbd2;
    color: #000;
}
#visitors .cross:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}

/**********************Middle Container*****************/
#middle-container{
    display: grid;
    grid-gap: 1rem;
    font-family: "Segoe UI",Arial,sans-serif;
    grid-row: 1 /span 4;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>status*/
#status{
    padding: 1rem;
    font-size: 1rem;
}
#status p{
    padding-bottom: 1rem;
}
#status input{
    width: 100%;
    box-sizing: border-box;
    padding: 0.7rem;
}
.post-btn{
    background: #607d8b ;
    color: #fff;
    margin-top: 0.7rem;
    padding:0.1rem 0.8rem;
    align-items: center;
    display: inline-block;
}
.post-btn:hover{
    cursor: pointer;
    color: #000;
    background: #ccc;
}
#status .post-btn p{
    display: inline-block;
    padding: 0.5rem;
}

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#user-post-1{
    display: flex;
    grid-row: 1 /span 4;
    padding: 2rem;
}
#user-post-1 .top-panel .user img{
    width: 50px;
    border-radius: 50%;
}
#user-post-1 .top-panel .user .name{
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
}
#user-post-1 .top-panel{
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.caption{
    padding:0rem 1rem;
}
#user-post-1 .user-post-image{
    display: flex;
    width: 98%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
#user-post-1 .user-post-image img{
    width: 350px;
}
.action-btn{
    padding-left: 1rem;
}    
.action-btn * p{
    display: inline-block;
    padding: 0.5rem 0.5rem;
}

/*>>>>>>>>>>>>>>>>>>>>>>>secont post>>>>*/

.post-info{
    padding: 1rem;
    display: grid;
    grid-template-columns:1fr 3fr; 
    align-items: center;
}
.post-info img{
    width: 60px;
    border-radius: 50%;
}
.post-info div .name{
    display: inline-block;
    font-size: 1.3rem;
}
.time{
    text-align: right;
    color: #777;
}


/*********************third post>>>>>*/


#user-post3>.image>img{
    width: 100%;
}



/********************right-container*****/

#right-container{
    display: grid;
    grid-gap: 1rem;
    font-family: "Segoe UI",Arial,sans-serif;
    grid-row: 1 /span 3;
}
.r-container{
    padding: 1rem;
    width: 84%;
}
.r-container img{
    width: 100%;
}

.r-container .info{
    width:100%;
    background: #dfe5e8;
    box-sizing: border-box;
}
.r-container .info:hover{
    background: #ccc;
    cursor: pointer;
}
#friend-request .r-container img{
    width: 95px;
}
#friend-request>.r-container .accept-req{
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#friend-request>.r-container .accept-req>*{
    width: 100px;
    align-items: center;
    padding: 0.3rem;
    box-sizing: border-box;
}
#friend-request>.r-container .accept-req .accept{
    align-self: flex-start;
    background: #4CAF50;
    width:100px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
}
#friend-request>.r-container .accept-req .reject{
    background: #f44336;
    width:100px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
}
#friend-request>.r-container .accept-req>*:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
}
#ads{
    padding: 2rem 0rem;
}
#bug{
    padding: 2.5rem 0rem;
    font-size: 2.5rem;
    box-sizing: border-box;
}

/***************footer******************/

#footer{
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
#footer .foot1{
    padding:1.5rem 1rem;
    background: #435761;
    color: #fff;
    align-items: center;
    font-size: 17px;
}
#footer .foot2{
    padding: 1rem 1rem;
    background: #303e45;
    color: #fff;
    align-items: center;
    font-size: 15px;
}























